$slicer-breakpoints:		0 		470px			740px		800px		1050px;

//                          └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:                1           2           3           4           5


// FONTS
$heading-font:  'jubilat', serif;
$body-font: 'Open Sans', sans-serif;
$special-font: 'Josefin Sans', sans-serif;

// COLORS
$primary-color: #f00;
$black: #000;
$white: #fff;

$main-background: #fcf0db;

$oasis-blue: #0166af;
$oasis-green: #30b256;

$mobile-menu-icon-color: red;
$side-nav-link-color: #818181;

// nav
$mobile-side-menu-width: 250px;
$top-menu-height: 60px;

