.basic-page {

  &__header {
    position: relative;
    
    padding-top: 7rem;
    padding-bottom: 1rem;
    color: $white;
    overflow: hidden;
    text-align: center;
    background-color: $msGreen;

    @mixin atMedium {
      /* background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII='); */
      
      padding-top: 9rem;
      padding-bottom: 0;
    }

    @mixin atLarge {
    
    }
  }

  .hero__video-bg {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }

  &__header-title {
    font-size: 2rem;

    @mixin atMedium {
      font-size: $fz1;
    }

    @mixin atLarge {
      font-size: $fz2;
    }
  }

  &__content {
    background-color: ;
    
    @mixin atMedium {
      padding: 2rem;
    }
  }

  &__content-wrapper {
    background-color: $off-white;
    padding: 1rem;

    @mixin atMedium {
      padding: 1rem 2rem;
      box-shadow: 3px 3px 3px color($black a(30%)), -3px 0 3px color($black a(30%));
    }

    @mixin atLarge {
      max-width: 960px;
      margin: 0 auto;
    }
  }
}