.hero {

  position: relative;
  padding-top: 1rem;
  margin-top: 70px;
  text-align: center;
  padding-bottom: 3rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=');
  overflow: hidden;

  min-height: 400px;
  

  @mixin atLarge {
    min-height: 70vh;    
  }

  &__video-bg {
    position: absolute;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

  
  }

  &__content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
  }

  &__heading {
    font-size: 2.8rem;
    padding: 3.5rem 1.5rem 0rem 1.5rem;
    color: $white;
    font-weight: 400;
    line-height: 0.8;
    margin: 0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

    @mixin atSmall {
      margin: 0 auto;
      max-width: 500px;
    }
    
    span {
      font-weight: 300;
      font-size: 1.777rem;
      display: block;
      line-height: 1.7;
      padding-left: 0.5rem;
      text-shadow: none;

      &.second {
        padding-left: 2rem;
      }
    }
  }

  &__hookline {
    color: #301111;
    margin: 2rem 1rem;
    
   
    span {
      box-shadow: 0.5rem 0 0 rgba(233, 255, 233,.9), -0.5rem 0 0 rgba(233, 255, 233,.9);
      background-color: rgba(233, 255, 233,.9);
      line-height: 1.9rem;
      padding: 0.2rem 0rem;
    }

    @mixin atLarge {
      font-size: 1.2rem;
      span{
        line-height: 2.8rem;
        padding: 0.4rem 0rem;
      }
    }
    
  }

  &__cta {
    display: inline-block;
    background-color: $msGreen;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.07rem;
    /* #301111 */
    text-decoration: none;
    
    box-shadow: -5px 5px 0 color($black a(30%));

    @mixin atLarge{
      font-size: 1.5rem;
    }

    &:hover {
      color: $msGreen;
      background-color: #fff;
    }
  }

  &__left-curtain, &__right-curtain {
    position: absolute;
    bottom:-20px;
    width: 60%;
    height: 110%;
    transition: width 2s;
    display: none;

    @mixin atMedium {
      display: block;
    }
  }

  &__left-curtain {
    left: 0;
    
    &.open {
      width: 10%;
    }
  }

  &__right-curtain {
    right: 0;

    &.open {
      width: 10%;
    }
  }


  &--performances {
    &.iosNovideo {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII='), url('../../assets/images/video-placeholder.jpg');
      background-size: auto, cover;
    }
  }

  &--families {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NgYGBoAAAAhQCBtVE1xwAAAABJRU5ErkJggg=='), url('../../assets/images/families-hero.jpg');
    background-size: auto, cover;
  }
 
}