.mainHeader {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 30px 5%;
  display: flex;
  justify-content: space-between;
}

.main-logo {

  img {
    width: 300px;
    display: inline-block;
    max-height: $top-menu-height;
    float: left;
  }
    
}