.basic-page {

  &__header {
    position: relative;
    
    padding-top: 7rem;
    padding-bottom: 1rem;
    color: $white;
    overflow: hidden;
    text-align: center;
    background-color: $msGreen;

    @mixin atMedium {
      /* background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII='); */
      
      padding-top: 9rem;
      padding-bottom: 0;
    }

    @mixin atLarge {
    
    }
  }

  .hero__video-bg {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }

  &__header-title {
    font-size: 2rem;

    @mixin atMedium {
      font-size: $fz1;
    }

    @mixin atLarge {
      font-size: $fz2;
    }
  }

  &__content {
    background-color: ;
    
    @mixin atMedium {
      padding: 2rem;
    }
  }

  &__content-wrapper {
    background-color: $off-white;
    padding: 1rem;

    @mixin atMedium {
      padding: 1rem 2rem;
      box-shadow: 3px 3px 3px color($black a(30%)), -3px 0 3px color($black a(30%));
      font-size: 1.125rem;      
    }

    @mixin atLarge {
      max-width: 800px;
      margin: 0 auto;
    }

    p a, li a {
      text-shadow: .03em 0 $off-white, -.03em 0 $off-white, 0 .03em $off-white, 0 -.03em $off-white, .06em 0 $off-white, -.06em 0 $off-white, .09em 0 $off-white, -.09em 0 $off-white, .12em 0 $off-white, -.12em 0 $off-white, .15em 0 $off-white, -.15em 0 $off-white;
      color: color($msGreen l(-15%));
      text-decoration: none; 
      background-image:
        linear-gradient($msGreen, $msGreen),
        linear-gradient($msGreen, $msGreen),
        linear-gradient($msGreen, $msGreen);
      background-size: .05em 2px, .05em 2px, 2px 2px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      background-position: 10% 90%, 100% 90%, 0% 90%;
      padding-bottom: 0.3em;

      padding: 0 0.05em;

      &:hover {
        /* background-image:  linear-gradient(color($msGreen l(+20%)), color($msGreen l(+20%))); */
        color: color($msGreen l(-5%) w(-30%));
        /* background-size: auto; */
        
      }
    }
  }

  

}